* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    background: yellow;
}

.container {
    width: 100%;
    height: 100vh;
    background: yellow;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 3vw;
    background: brown;
}

.nav ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    position: relative;
}

.black {
    position: absolute;
    width: 90px;
    padding: 2rem;
    background: black;
    top: 0;
    border-top-right-radius: 26px;
}

.white {
    position: absolute;
    width: 90px;
    height: 48vw;
    top: 3.6rem;

    background: #dadada;
}

.header {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-around; 
    margin-top: 6px;
}

.explore {
    background: red;
    height: 10vw;
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;

    background: #b6b1b1;
    font-weight: 400;
    border-radius: .5rem;

}

.explore h5 {
    opacity: .5;
    margin-top: .5rem;
}

.row {
    width: 80%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;

}

.column {
    width: 32vw;
    height: 36vw;
    margin-top: 2rem;

    background: red;
    overflow: auto;
}

.column > h5 {
    width: 100%;
    font-weight: 700;
    opacity: .8;
    padding: .5rem;
    
    background: black;
    color: white;

    display: flex;
    justify-content: center;
}

.des h5 {
    padding: 1rem;
    font-weight: 600;

    opacity: .8;
}

.des span {
    font-weight: bold;
}

.vidoe {
    width: 100%;
    height: 19vw;

    background: brown;
}

.column h4 {
    padding: .4rem;
    padding-left: 5vw;

    background: brown;
}

.hai {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.hai .first1 {
    position: relative;
    width: 10vw;
    height: 3vw;

    background: #dadada;
}

.hai .first1 .second2 {
    position: absolute;
    width: 10vw;
    height: 6vw;
    transform: translateY(40%);

    background: blueviolet;
}

.shit {
    height: 4vw;
}

.hai2 {
    display: flex;
    justify-content: space-between;

    padding: .4rem;
    background: brown;
}

.hai2 .chizje {
    display: flex;
    margin-left: 1rem;
    gap: .8rem;
}

.n {
    opacity: 0;
}

.hai2 div h5 {
    display: inline;
}

.sth {
    background: blue;
    padding: .5rem;
    width: 40%;
    border-radius: .5rem;

    margin: 5px;
    margin-left: 1rem;
}

.sum p {
    font-size: .8rem;
    width: 100%;
    
    background: brown;
    padding-left: 1.4rem;
}

.sum div {
    height: 100%;
    width: 85%;
    margin: 0 auto;
    height: 8vw;
    background: red;
    font-size: .8rem;

    padding-top: .4rem;

    margin-top: .3rem;

    border-radius: .4rem
}

.sum textarea {
    width: 100%;
    height: 100%;

    border: none;
    border-radius: 5px;
    outline: none;

    font-size: 14px;
    padding: .4rem;

    resize: none;
}

.hai3 {
    display: flex;
    justify-content: space-between;

    padding: 1rem;
}

.hai3 div h5 {
    margin-bottom: 2rem;
    padding: .4rem;

    border-radius: .5rem;
}

.ADD {
    background: blue;
}

#title, #content {
    padding: .8rem;
    background: rebeccapurple;
    font-size: 1rem;
}

.outerD {
    width: 93%;
    height: 70%;

    margin: 0 auto;

    background: yellow;
    overflow-y: auto;
    overflow-x: hidden;
}

.outerD .Flex {
    width: 95%;
    display: flex;
    justify-content: space-between;

    padding: .5rem;
    background: red;

    margin: 0 auto;
}

.outerD .Flex {
    font-size: 10px;
}

.outerD textarea {
    padding: 1rem;
    border: none;
    outline: none;

    font-size: 13px;
}

.Flex2 {
    display: flex;
    justify-content: space-between;

    padding: 1rem 2rem;
}

.c > h5, .sc > h5 {
    margin-bottom: .4rem;
}

.c div, .sc div {
    position: relative;
    padding: .5rem;
    background: brown;
    border-radius: 2px;

    font-size: 15px;
    opacity: .8;
}

.sc div img {
    position: absolute;
    top: 0;
    right: 10%;
    cursor: pointer;
    padding: .2rem;
}

.Flex3 {
    display: flex;
    justify-content: space-between;

    padding-right: 1rem;
}

.submit button {
    background: blue;
    color: white;
    padding: .4rem;

    border-radius: 10px;
}

.bottom {
    opacity: 0;
}

.head {
    width: 100%;
    height: 10vh;
    padding-left: 1.3rem;
    
    background: brown;
}

.head .movethisabit {
    padding-left: 1.2rem;
    margin-top: 1rem;

    font-size: .72rem;
}

.head h5 img {
    transform: rotate(180deg);
}

.seeless {
    text-align: right;
    padding-right: 16px;

    opacity: 0.8;
}

.th-a {
    height: 8vw;
}

.part1 {
    width: 95%;
    height: 12vw;
    margin: 0 auto;
    background: brown;

    margin-top: .8rem;

    position: relative;
}

.part1 .eg {
    position: absolute;
    width: 87%;
    margin: 0 auto;
    padding: .2rem;
    height: 2vw;

    top: 0;
    right: 0;
    background: paleturquoise;

    border: thin black;

    border-radius: 4px;

    font-size: 14px;
    padding-left: .6rem;
}

.text {
    position: absolute;
    top: 3vw;
    left: 16%;

    font-weight: 600;
    font-size: 12px;

    background: red;
}

.tran {
    height: 8vw;
}

.th-b {
    height: 2vw;
    margin: .6rem 0;

}

.one {
    height: 27.5vw;
}

.two {
    height: 18vw;
}

.three {
    height: 20.5vw;
}

.four {
    height: 20.5vw;
}

.con {
    margin-top: 12px;
    height: 7vw;
}

.empty {
    opacity: 0;
}